Repository victorreis/ai-chatbot-vercel-ai-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,mdx,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"],
  "package.json": ["prettier --write"]
}

chore: better organize the git hooks comments
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
Due: none

chore: config improvements in tsconfig.json, next.config.ts, and eslint file
  .vscode/settings.json
  README.md
  eslint.config.mjs
  next.config.ts
  package-lock.json
  package.json
  tsconfig.json
  types/eslint-plugins.d.ts
Due: eslint --fix, prettier --write

chore: create a .env.example file
  .env.example
Due: none

chore: chore: use @t3-oss/env-nextjs and src/env.mjs to check env variables and enable fast-fail
  .gitignore
  package-lock.json
  package.json
  src/env.mjs
  src/types/eslint-plugins.d.ts
  src/utils/cn/cn.utils.ts
  src/utils/cn/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: update next.config.ts and config shadcn
  README.md
  app/globals.css
  components.json
  next.config.ts
  postcss.config.mjs
Due: eslint --fix, prettier --write

chore: update CLAUDE.md file with the new standards and fix eslint config
  CLAUDE.md
  app/favicon.ico
  eslint.config.mjs
  next.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: add all the needed shadcn components
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/index.ts
  src/components/ui/scroll-area.tsx
  src/components/ui/separator.tsx
  src/components/ui/textarea.tsx
Due: eslint --fix, prettier --write

feat: create the ThemeSwitcher
  app/layout.tsx
  src/components/ThemeSwitcher/ThemeSwitcher.tsx
  src/components/ThemeSwitcher/index.ts
Due: eslint --fix, prettier --write

feat: create the Chat components
  src/components/ChatFileUploadButton/ChatFileUploadButton.tsx
  src/components/ChatFileUploadButton/index.ts
  src/components/ChatMessage/ChatMessage.tsx
  src/components/ChatMessage/index.ts
  src/components/ChatMessagesHistory/ChatMessagesHistory.tsx
  src/components/ChatMessagesHistory/index.ts
  src/components/ChatTextarea/ChatTextarea.tsx
  src/components/ChatTextarea/index.ts
Due: eslint --fix, prettier --write

feat: update globals.css with the new css variables, custom classes and styled scrollbar
  app/globals.css
Due: prettier --write

feat: create date utils with tests
  src/utils/date/date.utils.test.ts
  src/utils/date/date.utils.ts
  src/utils/date/index.ts
Due: eslint --fix, prettier --write

chore: update CLAUDE.md with test information
  CLAUDE.md
Due: prettier --write

feat: create shared styles and types
  src/styles/index.ts
  src/styles/shared.ts
  src/types/chat.ts
Due: eslint --fix, prettier --write

feat: crete the ChatHistory
  src/components/ChatHistory/ChatHistory.tsx
  src/components/ChatHistory/index.ts
  src/components/ui/dropdown-menu.tsx
Due: eslint --fix, prettier --write

feat: compose the page with the sidebar and the chat, and use mocked data to play with it
  app/chat/page.tsx
  app/page.tsx
  src/__mocks__/chats.mocks.ts
Due: eslint --fix, prettier --write

docs: update README.md with the UI development plan updated
  README.md
Due: prettier --write

feat: feat: create the ModelSelector and add it to the top bar
  .env.example
  CLAUDE.md
  app/api/models/route.ts
  app/layout.tsx
  package-lock.json
  package.json
  src/components/ModelSelector/ModelSelector.tsx
  src/components/ModelSelector/index.ts
  src/components/ui/dropdown-menu.tsx
  src/env.mjs
  src/hooks/useAvailableModels/index.ts
  src/hooks/useAvailableModels/useAvailableModels.ts
  src/utils/env/env.utils.ts
  src/utils/env/index.ts
Due: eslint --fix, prettier --write

feat: create the chat api and integrate it with /chat
  app/api/chat/route.ts
  app/chat/page.tsx
  src/types/chat.ts
Due: eslint --fix, prettier --write

chore: update pre-push git hook to lint and format everything
  .husky/pre-push
Due: none

fix: remove the duplicated filename (once attached and sent)
  app/api/chat/route.ts
  app/chat/page.tsx
  src/components/ChatMessage/ChatMessage.tsx
Due: eslint --fix, prettier --write

refactor: split chat/page in multiple components for better maintainability and readability
  app/chat/page.tsx
  src/components/ChatHeader/ChatHeader.tsx
  src/components/ChatHeader/index.ts
  src/components/ChatInput/ChatInput.tsx
  src/components/ChatInput/index.ts
  src/components/ChatMessagesArea/ChatMessagesArea.tsx
  src/components/ChatMessagesArea/index.ts
  src/components/ChatSidebar/ChatSidebar.tsx
  src/components/ChatSidebar/index.ts
  src/hooks/useChat/index.ts
  src/hooks/useChat/useChat.ts
Due: eslint --fix, prettier --write

feat: feat: show a loading state since beginning, add logging nd make the PII tool properly work
  app/api/chat/route.ts
  app/chat/page.tsx
  src/components/ChatMessagesArea/ChatMessagesArea.tsx
  src/hooks/useChat/useChat.ts
Due: eslint --fix, prettier --write

fix: use AI vision and AI text analysis to extract PIIs instead of regex
  app/api/chat/route.ts
Due: eslint --fix, prettier --write

fix: improve precision on the PII detector tool
  app/api/chat/route.ts
Due: eslint --fix, prettier --write

fix: make AI consider all PDF files, not only the first one
  app/api/chat/route.ts
  app/chat/page.tsx
Due: eslint --fix, prettier --write

feat: show the tool used in the response message
  .env.example
  README.md
  src/components/ChatMessage/ChatMessage.tsx
Due: eslint --fix, prettier --write

fix: enable reselect the same file for upload
  src/components/ChatFileUploadButton/ChatFileUploadButton.tsx
Due: eslint --fix, prettier --write

chore: update project objective
  README.md
Due: prettier --write
